:root {
	--clr-blue-300: hsl(216, 99%, 72%);
	--clr-blue-400: hsl(216, 98%, 62%);
	--clr-blue-500: hsl(216, 98%, 52%);
	--clr-blue-600: hsl(216, 98%, 42%);
	--clr-blue-700: hsl(216, 98%, 32%);

	--clr-red-300: hsl(355, 70%, 72%);
	--clr-red-400: hsl(355, 70%, 62%);
	--clr-red-500: hsl(355, 70%, 52%);
	--clr-red-600: hsl(355, 70%, 42%);
	--clr-red-700: hsl(355, 70%, 32%);

	--clr-green-300: hsl(152, 31%, 72%);
	--clr-green-400: hsl(152, 31%, 62%);
	--clr-green-500: hsl(152, 31%, 52%);
	--clr-green-600: hsl(152, 31%, 42%);
	--clr-green-700: hsl(152, 31%, 32%);

	--clr-neutral-100: hsl(240, 20%, 99%);
	--clr-neutral-300: hsl(210, 14%, 89%);
	--clr-neutral-400: hsl(210, 14%, 79%);
	--clr-neutral-500: hsl(210, 14%, 69%);
	--clr-neutral-600: hsl(210, 14%, 59%);
	--clr-neutral-900: hsl(210, 14%, 9%);
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	line-height: 1.5;
	color: var(--clr-neutral-900);
	font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3 {
	line-height: 1.2;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}

img {
	display: block;
	max-width: 100%;
}

button {
	outline: none;
	border: none;
	background: transparent;
	font-size: inherit;
	font-family: inherit;
	cursor: pointer;
}

label,
input[type='text'],
input[type='email'],
textarea {
	display: block;
}

input[type='text'],
input[type='email'],
input[type='tel'],
textarea {
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
}

textarea {
	resize: vertical;
}

.wrapper {
	width: min(1200px, 95vw);
	margin: 0 auto;
	padding: 0 1rem;
}

.btn {
	display: inline-block;
	padding: 0.5em 1.25em;
	border: none;
	outline: none;
	user-select: none;
	cursor: pointer;
	font-size: inherit;
	border-radius: 0.25rem;

	border: 1px solid var(--border-clr);
	background-color: var(--bg-clr);
	color: var(--text-clr);

	transition: background-color 250ms ease, color 250ms ease;
}

.btn-primary,
.btn-primary--inverse:hover,
.btn-primary--inverse:focus-visible {
	--bg-clr: var(--clr-blue-500);
	--text-clr: var(--clr-neutral-100);
	--border-clr: var(--clr-blue-700);
}

.btn-primary--inverse,
.btn-primary:hover,
.btn-primary:focus-visible {
	--text-clr: var(--clr-blue-500);
	--bg-clr: var(--clr-neutral-100);
	--border-clr: var(--clr-blue-700);
}

.btn-secondary,
.btn-secondary--inverse:hover,
.btn-secondary--inverse:focus-visible {
	--bg-clr: var(--clr-neutral-900);
	--text-clr: var(--clr-neutral-100);
	--border-clr: var(--clr-neutral-900);
}

.btn-secondary--inverse,
.btn-secondary:hover,
.btn-secondary:focus-visible {
	--text-clr: var(--clr-neutral-900);
	--bg-clr: var(--clr-neutral-100);
	--border-clr: var(--clr-neutral-900);
}

.btn-danger,
.btn-danger--inverse:hover,
.btn-danger--inverse:focus-visible {
	--bg-clr: var(--clr-red-500);
	--text-clr: var(--clr-neutral-100);
	--border-clr: var(--clr-red-700);
}

.btn-danger--inverse,
.btn-danger:hover,
.btn-danger:focus-visible {
	--text-clr: var(--clr-red-500);
	--bg-clr: var(--clr-neutral-100);
	--border-clr: var(--clr-red-700);
}

.flow > *:not(:last-child) {
	margin-bottom: var(--flow-space, 1em);
}

.text-left {
	text-align: left !important;
}

.mb-4 {
	margin-bottom: 2rem;
}

.mb-6 {
	margin-bottom: 3rem;
}

.page-header {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.page-header h1 {
	flex-grow: 1;
	text-align: center;
	text-transform: capitalize;
}

/* navbar */
.header {
	padding: 1rem 0;
	background-color: var(--clr-neutral-900);
	color: var(--clr-neutral-100);
}

.logo {
	font-size: clamp(2rem, 1.5rem + 1vw, 2.5rem);
}

.nav-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
}

.nav__items {
	display: flex;
	gap: 0.5rem;
}

.nav__link {
	font-size: 1.25rem;
	text-transform: capitalize;
	padding: 0.25rem 0.75rem;
	opacity: 0.7;
}

.nav__link.active {
	opacity: 1;
}

.nav__link:hover,
.nav__link:focus-visible {
	opacity: 1;
	text-decoration: underline;
}

/* users */
.users-table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

.users-table__cell {
	border: 1px solid var(--clr-neutral-300);
	text-align: center;
	padding: 0.5rem;
}

/* create new user */

.user-form {
	max-width: 500px;
	width: 100%;
	margin: auto;
}

.input-group {
	margin-bottom: 1rem;
}

.input-group label {
	margin-bottom: 0.25rem;
}

.input-group input {
	padding: 0.5rem 0.75rem;
	border: 1px solid var(--clr-neutral-400);
	border-radius: 0.125rem;
	outline: none;
}

.input-group p {
	display: none;
	color: var(--clr-red-600);
}

.input-group input.input-error {
	border-color: var(--clr-red-500);
}

.input-group input.input-error + p {
	display: block;
}

.input-group input:focus-visible {
	border-color: currentColor;
}

/* posts */
.posts {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(100%, 450px), 1fr));
	gap: 2rem;
}

.post {
	padding: 2rem;
	border-radius: 0.25rem;
	border: 1px solid var(--clr-neutral-300);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.post__title {
	font-size: 1.325rem;
}

.post__body {
	flex-grow: 1;
}

.post__reaction {
	display: inline-flex;
	align-items: center;
	gap: 0.25rem;
	line-height: 1;
	font-size: 1.25rem;
}

.post__reaction:not(:last-child) {
	margin-right: 0.75rem;
}
